<!-- Generated template for the SongListComponent component -->
<section class="songs" (click)="openMusic();">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>

<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>

<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>

<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>

<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>

<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>

<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>

<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>
<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>
<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>
<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>
<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>
<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>
<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>
<section class="songs">
    <span>1</span>
    <div class="names">
        <div class="p_wrap">
            <p class="song_name">Wing$</p>
            <p class="song_dec">Sin preocupación, en el corazón</p>
        </div>
        <ion-icon name="more"></ion-icon>
    </div>
</section>