<!-- Generated template for the MusicCardComponent component -->
<section class="card">
    <div class="imgs" [style.background]="'url(http://p1.music.126.net/4Ah60CB4hWtzL4oPBb3dfg==/18962177532877657.jpg?param=140y140)'"></div>
    <p class="title">Back to You</p>
    <p class="dec">Louis Tomlinson/Bebe Rexha/Digital Farm Animals</p>
</section>
<section class="card">
    <div class="imgs" [style.background]="'url(http://p1.music.126.net/4Ah60CB4hWtzL4oPBb3dfg==/18962177532877657.jpg?param=140y140)'"></div>
    <p class="title">Back to You</p>
    <p class="dec">Louis Tomlinson/Bebe Rexha/Digital Farm Animals</p>
</section>
<section class="card">
    <div class="imgs" [style.background]="'url(http://p1.music.126.net/4Ah60CB4hWtzL4oPBb3dfg==/18962177532877657.jpg?param=140y140)'"></div>
    <p class="title">Back to You</p>
    <p class="dec">Louis Tomlinson/Bebe Rexha/Digital Farm Animals</p>
</section>
<section class="card">
    <div class="imgs" [style.background]="'url(http://p1.music.126.net/4Ah60CB4hWtzL4oPBb3dfg==/18962177532877657.jpg?param=140y140)'"></div>
    <p class="title">Back to You</p>
    <p class="dec">Louis Tomlinson/Bebe Rexha/Digital Farm Animals</p>
</section>
<section class="card">
    <div class="imgs" [style.background]="'url(http://p1.music.126.net/4Ah60CB4hWtzL4oPBb3dfg==/18962177532877657.jpg?param=140y140)'"></div>
    <p class="title">Back to You</p>
    <p class="dec">Louis Tomlinson/Bebe Rexha/Digital Farm Animals</p>
</section>
<section class="card">
    <div class="imgs" [style.background]="'url(http://p1.music.126.net/4Ah60CB4hWtzL4oPBb3dfg==/18962177532877657.jpg?param=140y140)'"></div>
    <p class="title">Back to You</p>
    <p class="dec">Louis Tomlinson/Bebe Rexha/Digital Farm Animals</p>
</section>