page-playlist {
    .iheader {
        width: 100%;
        padding: 16px;
        overflow: hidden;
        .all {
            float: left;
            padding: 8px 18px;
            border: 1px solid #eee;
            border-radius: 9999px;
        }
        .ti {
            float: right;
            padding: 8px 7px;
        }
    }
}