page-ranking {
    .official {
        width: 100%;
        overflow: hidden;
        border-bottom: 1px solid #eee;
        margin-bottom: 5px;
        .imgs {
            width: 33.33%;
            height: 0;
            padding-bottom: 33.33%;
            background-color: #008b57;
            float: left;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }
        .list {
            width: 64%;
            float: right;
            line-height: 24px;
            p {
                width: 100%;
                display: block;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
    }
}