<!-- Generated template for the MenuComponent component -->
<section class="dv_box">
    <div class="dv_items" (click)="pushQueList();">
        <div class="icon-wrap">
            <ion-icon name="radio"></ion-icon>
        </div>
        <p>云音乐私人FM</p>
    </div>
    <div class="dv_items" (click)="pushHotWork();">
        <div class="icon-wrap">
            <ion-icon name="calendar"></ion-icon>
        </div>
        <p>每日歌曲推荐</p>
    </div>
    <div class="dv_items" (click)="pushHotAnswer();">
        <div class="icon-wrap">
            <ion-icon name="podium"></ion-icon>
        </div>
        <p>云音乐热歌榜</p>
    </div>
</section>